.h-4 {
    height: 1.5rem;
}
.h-5 {
    margin-top: 4px;
}
.theme-default-content pre, .theme-default-content pre[class*="language-"] {
    background-color: black;
}
.code-block {
    background-color: rgba(52,53,65,1);
    border-radius: 10px;
    margin-bottom: 20px;
}
.code-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 15px;
    height: 1.7rem;
}
.copy-btn {
    text-transform: none;
    display: flex;
    gap: 0.5rem;
    border-color: transparent;
    background-color: transparent;
    color: #f0f0f0;
    margin-top: 15px;
    margin-right: 20px;
}

.lang {
    color: #f0f0f0;
    line-height: 1rem;
    margin-top: 15px;
    margin-left: 20px;
}

.code {
    margin: 0;
    padding: 10px;
    background-color: black;
    border-radius: 0px 0px 10px 10px;
}
.code-box{
    background-color: black;
}
.text-header{
    font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
